<center>
<head> 
	<%= stylesheet_link_tag 'styles'%>
</head>
<h1>LISTING STUDENTS</h1>  
<table>
	<thead>
		<tr>
			<th>FirstName</th> 
			<th>LastName</th>
			<th>RollNum </th> 
			<th>Age</th>
			<th>FatherName</th>  
			<th colspan="3">Action</th>
		</tr>
	</thead>  
	<tbody>  
		<% @students.each do |student| %>  
		<tr>  
			<td><%= student.first_name %></td>
			<td><%= student.last_name %></td>
			<td><%= student.roll_num %></td>
			<td><%= student.age %></td>
			<td><%= student.father_name %></td>  
			<td><%= link_to 'View',student%></td> 
			<td><%= link_to 'Update',edit_student_management_path(student) %></td>  
			<td><%= link_to 'Delete',student, method: :delete, data:{confirm: 'Are U Sure?'}%></td>
		</tr>
		<% end %>   
	</tbody>    
</table>     
<br>
<div class="paginate">
<%= paginate @students %>
<%= link_to 'CREATE NEW STUDENT',new_student_management_path%>  
</div>
</center>
